﻿@model ProyectoConversion.Models.Departamento
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid col-sm-11">
    <h2>Modificar Departamento o Localidad</h2>
    <hr />
    @if (TempData["FailMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["FailMessage"]
        </div>
        <hr />
    }
    <div class="row justify-content-center mt-4">
        <div class="col-sm-4">
            <div class="card border-primary">
                <div class="card-header bg-primary">
                    <h4 class="card-title text-light">Modificar</h4>
                </div>
                <div class="card-body mx-sm-4">
                    <form action="@Url.Action("Editar","Departamentos")" method="post">
                        <input type="hidden" class="form-control" name="Id" value="@Html.DisplayTextFor( m => m.Id)" />
                        <div class="row mb-4">
                            <label for="Nombre" class="col-sm-4 col-form-label">Nombre</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Nombre" value="@Html.DisplayTextFor( m => m.Nombre)" />
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="Codigo" class="col-sm-4 col-form-label">Código</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Codigo" value="@Html.DisplayTextFor( m => m.Codigo)" />
                                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <input type="hidden" class="form-control" name="Comentarios" value="@Html.DisplayTextFor( m => m.Nombre)" />
                        <div class="row mb-4">
                            <label for="UltimaMatricula" class="col-sm-4 col-form-label">Última Matrícula</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="UltimaMatricula" value="@Html.DisplayTextFor( m => m.UltimaMatricula)" />
                                @Html.ValidationMessageFor(model => model.UltimaMatricula, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <a class="btn btn-warning" href="@Url.Action("Activos","Departamentos")">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>