﻿@model PagedList.IPagedList<ProyectoConversion.Models.ImagenesMatriculas>
@{
    ViewBag.Title = "Activos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid col-sm-11">
    <h2>Matrículas</h2>
    <hr />
    @if (TempData["exito"] != null)
    {
        <div class="alert alert-success">
            @TempData["exito"]
        </div>
        <hr />
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
        <hr />
    }
    <div class="row" style="margin-top:30px">
        <div class="container-fluid col-sm-12">
            <div class="card border-primary">
                <div class="card-header bg-primary d-flex justify-content-between">
                    <h4 class="card-title text-light col-4">Lista de Matrículas</h4>
                    <form method="post" action="@Url.Action("Buscar", "ImagenesMatriculas")" class="form-inline col-4">
                        <div class="input-group">
                            <input type="text" name="matricula" class="form-control" placeholder="Buscar por Matrícula" value="@ViewBag.SearchTerm">
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-success" href="@Url.Action("Precarga","ImagenesMatriculas")">Cargar Nueva</a>
                        <a class="btn btn-outline-danger" href="@Url.Action("Editadas", "ImagenesMatriculas")">Cargar Editadas</a>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr class="text-center align-middle">
                                    <th data-sortable="true">Nombre</th>
                                    <th>Fecha</th>
                                    <th>Versión</th>
                                    <th>Alta</th>
                                    <th>Modificación</th>
                                    <th style="width:250px">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ProyectoConversion.Models.ImagenesMatriculas item in Model)
                                {
                                    <tr class="text-center align-middle">
                                        <td class="text-start">@item.Nombre</td>
                                        <td>@item.Fecha</td>
                                        <td>V<label class="fst-italic">@item.Version</label></td>
                                        @if (item.AltaUsuario != null && item.AltaFecha != null)
                                        {
                                            <td>@item.AltaUsuario: @item.AltaFecha</td>
                                        }
                                        else if (item.AltaFecha != null)
                                        {
                                            <td>@item.AltaFecha</td>
                                        }
                                        else if (item.AltaUsuario != null)
                                        {
                                            <td>@item.AltaUsuario</td>
                                        }
                                        else
                                        {
                                            <td>-- Vacio --</td>
                                        }
                                        @if (item.ModificacionUsuario != null && item.ModificacionFecha != null)
                                        {
                                            <td>@item.ModificacionUsuario: @item.ModificacionFecha</td>
                                        }
                                        else if (item.ModificacionFecha != null)
                                        {
                                            <td>@item.ModificacionFecha</td>
                                        }
                                        else if (item.ModificacionUsuario != null)
                                        {
                                            <td>@item.ModificacionUsuario</td>
                                        }
                                        else
                                        {
                                            <td>-- No Modificado --</td>
                                        }
                                        <td>
                                            <a class="btn btn-success btn-sm mx-1 my-1" href="#" title="Visualizar" onclick="visualizarArchivo('@item.Id', @item.Version)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                                </svg>
                                            </a>
                                            <a class="btn btn-primary btn-sm mx-1 my-1" href="@Url.Action("Descargar","Minio", new { idImgMat = item.Id, versionArchivo = item.Version })" title="Descargar">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                                                    <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                                                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z" />
                                                </svg>
                                            </a>
                                            <a class="btn btn-warning btn-sm mx-1 my-1" href="@Url.Action("Editar","ImagenesMatriculas", new { idImgMat = item.Id })" title="Modificar">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Activos", new { page = 1, matricula = ViewBag.SearchTerm })" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Activos", new { page = Model.PageNumber - 1, matricula = ViewBag.SearchTerm })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @for (int i = Math.Max(1, Model.PageNumber - 11); i <= Math.Min(Model.PageCount, Model.PageNumber + 11); i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Activos", new { page = i, matricula = ViewBag.SearchTerm })">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Activos", new { page = Model.PageNumber + 1, matricula = ViewBag.SearchTerm })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Activos", new { page = Model.PageCount, matricula = ViewBag.SearchTerm })" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function visualizarArchivo(id, version) {
        // Realiza una petición AJAX para verificar la existencia del archivo
        $.ajax({
            url: '@Url.Action("Visualizar", "Minio")',
            type: 'GET',
            data: { idImgMat: id, versionArchivo: version },
            success: function (resultado) {
                if (resultado.existencia) {
                    window.open(resultado.archivoUrl, '_blank');
                } else {
                    // Redirige a la página actual y muestra mensajes de TempData
                    window.location.reload();
                }
            },
            error: function (errorThrown) {
                // Redirige a la página actual y muestra mensajes de TempData
                window.location.reload();
            }
        });
    }
</script>