﻿@model ProyectoConversion.Models.Departamento
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid col-sm-11">
    <h2>Dar de Baja Departamento o Localidad</h2>
    <hr />
    <div class="row justify-content-center mt-4">
        <div class="col-sm-4">
            <div class="card border-danger">
                <div class="card-header bg-danger">
                    <h4 class="card-title text-light">Dar de Baja</h4>
                </div>
                <div class="card-body mx-sm-4">
                    <div class="alert alert-danger text-center">
                        ¿Desea Dar de Baja el Departamento: @Html.DisplayTextFor(m => m.Nombre)?
                    </div>
                    <hr />
                    <form action="@Url.Action("Eliminar","Departamentos")" method="post">
                        <input type="hidden" class="form-control" name="Id" value="@Html.DisplayTextFor( m => m.Id)" />
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                            <a class="btn btn-success" href="@Url.Action("Eliminados","Departamentos")">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>