﻿@model ProyectoConversion.Models.ArchivoImagen
@{
    ViewBag.Title = "Confirmar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid col-sm-11">
    <h2>Confirmar Datos</h2>
    <hr />
    @if (TempData["exito"] != null)
    {
        <div class="alert alert-success">
            @TempData["exito"]
        </div>
        <hr />
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
        <hr />
    }
    <div class="row justify-content-center mt-4">
        <div class="col-sm-4">
            <div class="card border-primary">
                <div class="card-header bg-primary">
                    <h4 class="card-title text-light">Confirmar Datos</h4>
                </div>
                <div class="card-body mx-sm-4">
                    @using (Html.BeginForm("Previsualizar", "ImagenesMatriculas", FormMethod.Post, new { target = "_blank" }))
                    {
                        <input type="hidden" name="nombreArchivo" value="@Model.ArchivoPdf.NombreArchivo" />
                        <input type="hidden" name="contenido" value="@Convert.ToBase64String(Model.ArchivoPdf.Contenido)" />
                        <button type="submit" class="btn btn-primary float-end">Previsualizar</button>
                    }
                    @using (Html.BeginForm("Alta", "ImagenesMatriculas", FormMethod.Post))
                    {
                        <p class="fw-bold">Departamento: <span class="text-info">@Model.NombreDepartamento</span></p>
                        <p class="fw-bold">Matrícula: <span class="text-info">@Model.ImagenMatricula.Matricula</span></p>
                        if (Model.ImagenMatricula.Digito == null)
                        {
                            <p class="fw-bold">Dígito: <span class="text-danger">--</span></p>
                        }
                        else
                        {
                            <p class="fw-bold">Dígito: <span class="text-info">@Model.ImagenMatricula.Digito</span></p>
                        }
                        if (Model.ImagenMatricula.Duplicado == null)
                        {
                            <p class="fw-bold">Duplicado: <span class="text-danger">--</span></p>
                        }
                        else
                        {
                            <p class="fw-bold">Duplicado: <span class="text-info">@Model.ImagenMatricula.Duplicado</span></p>
                        }
                        <p class="fw-bold">Nombre Archivo: <span class="text-info">@Model.ImagenMatricula.Nombre</span></p>
                        <p class="fw-bold">Fecha Creación: <span class="text-info">@Model.ImagenMatricula.Fecha</span></p>
                        <p class="fw-bold">Extensión: <span class="text-info">@Model.ImagenMatricula.Extension</span></p>
                        <p class="fw-bold">Tamaño: <span class="text-info">@Model.ImagenMatricula.Size</span></p>
                            @Html.Hidden("nombreDepartamento", Model.NombreDepartamento)
                            @Html.Hidden("nombre", Model.ImagenMatricula.Nombre)
                            @Html.Hidden("codigoDepartamento", Model.ImagenMatricula.Departamento)
                            @Html.Hidden("matricula", Model.ImagenMatricula.Matricula)
                            @Html.Hidden("digito", Model.ImagenMatricula.Digito)
                            @Html.Hidden("duplicado", Model.ImagenMatricula.Duplicado)
                            @Html.Hidden("fecha", Model.ImagenMatricula.Fecha)
                            @Html.Hidden("extension", Model.ImagenMatricula.Extension)
                            @Html.Hidden("size", Model.ImagenMatricula.Size)
                            @Html.Hidden("nombreArchivo", Model.ArchivoPdf.NombreArchivo)
                            @Html.Hidden("contenido", Convert.ToBase64String(Model.ArchivoPdf.Contenido))
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success w-100">Confirmar</button>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-warning w-100" href="@Url.Action("Activos", "ImagenesMatriculas")">Volver</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>