﻿@model PagedList.IPagedList<ProyectoConversion.Models.ImagenesMatriculas>
@{
    ViewBag.Title = "Eliminados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid col-sm-11">
    <h2>Matrículas</h2>
    <hr />
    @if (TempData["exito"] != null)
    {
        <div class="alert alert-success">
            @TempData["exito"]
        </div>
        <hr />
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
        <hr />
    }
    <div class="row" style="margin-top:30px">
        <div class="container-fluid col-sm-12">
            <div class="card border-danger">
                <div class="card-header bg-danger">
                    <h4 class="card-title text-light">Lista de Imagenes de Matrículas Eliminadas</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-success" href="@Url.Action("Activos","ImagenesMatriculas")">Cargar Activos</a>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr class="text-center align-middle">
                                    <th data-sortable="true">Nombre</th>
                                    <th>Fecha</th>
                                    <th>Versión</th>
                                    <th>Modificación</th>
                                    <th style="width:250px">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ProyectoConversion.Models.ImagenesMatriculas item in Model)
                                {
                                    <tr class="text-center align-middle">
                                        <td class="text-start">@item.Nombre</td>
                                        <td>@item.Fecha</td>
                                        <td>V<label class="fst-italic">@item.Version</label></td>
                                        @if (item.ModificacionUsuario != null && item.ModificacionFecha != null)
                                        {
                                            <td>@item.ModificacionUsuario: @item.ModificacionFecha</td>
                                        }
                                        else if (item.ModificacionFecha != null)
                                        {
                                            <td>@item.ModificacionFecha</td>
                                        }
                                        else if (item.ModificacionUsuario != null)
                                        {
                                            <td>@item.ModificacionUsuario</td>
                                        }
                                        else
                                        {
                                            <td>-- No Modificado --</td>
                                        }
                                        <td>
                                            @for (int i = 1; i <= item.Version; i++)
                                            {
                                                <span>Versión <label class="fst-italic">@i</label></span>
                                                <a class="btn btn-success btn-sm mx-1 my-1" href="#" title="Visualizar" onclick="visualizarArchivo('@item.Id', '@i')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                                    </svg>
                                                </a> <hr class="mb-0 mt-0" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Editadas", new { page = 1, matricula = ViewBag.SearchTerm })" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Editadas", new { page = Model.PageNumber - 1, matricula = ViewBag.SearchTerm })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @for (int i = Math.Max(1, Model.PageNumber - 11); i <= Math.Min(Model.PageCount, Model.PageNumber + 11); i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Editadas", new { page = i, matricula = ViewBag.SearchTerm })">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Editadas", new { page = Model.PageNumber + 1, matricula = ViewBag.SearchTerm })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Editadas", new { page = Model.PageCount, matricula = ViewBag.SearchTerm })" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function visualizarArchivo(id, version) {
        // Realiza una petición AJAX para verificar la existencia del archivo
        $.ajax({
            url: '@Url.Action("Visualizar", "Minio")',
            type: 'GET',
            data: { idImgMat: id, versionArchivo: version },
            success: function (resultado) {
                if (resultado.existencia) {
                    window.open(resultado.archivoUrl, '_blank');
                } else {
                    // Si el archivo no existe, mostrar un mensaje o manejar de acuerdo a tus necesidades
                    alert(resultado.mensajeError);
                }
            },
            error: function (errorThrown) {
                // Mostrar el mensaje de error
                alert('Error al verificar la existencia del archivo: ' + errorThrown);
            }
        });
    }
</script>