﻿@model long?
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid col-sm-11">
    <h2>Subir Archivo PDF</h2>
    <hr />
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
        <hr />
    }
    @if (TempData["redireccion"] != null)
    {
        <div class="alert alert-warning">
            @TempData["redireccion"]
        </div>
        <hr />
    }
    <div class="row justify-content-center mt-4">
        <div class="col-sm-10 col-mb-8 col-lg-6 col-xl-4">
            <div class="card border-primary">
                <div class="card-header bg-primary">
                    <h4 class="card-title text-light">Subir Archivo</h4>
                </div>
                <div class="card-body mx-sm-4">
                    @using (Html.BeginForm("editar", "ImagenesMatriculas", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="col-12 mb-2">
                            <!-- Selector de archivos -->
                            <div class="row mb-2">
                                <div class="col-10">
                                    <label for="archivo" class="form-label fw-bold">Selecciona un archivo PDF</label>
                                    <input type="file" name="archivo" id="archivo" accept=".pdf" class="form-control" />
                                    <input type="hidden" name="idEditar" id="idEditar" value="@Model" />
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <span id="fileStatus" style="font-size: 20px;"></span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!-- Botones del formulario -->
                        <div class="d-flex justify-content-around">
                            <button type="submit" class="btn btn-success mb-2">
                                Procesar Datos
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                                    <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z" />
                                </svg>
                            </button>
                            <a class="btn btn-warning mb-2" href="@Url.Action("Activos", "ImagenesMatriculas")">Volver</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>