﻿@model ProyectoConversion.Models.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<section class="container-fluid col-sm-11">
    <div class="login">
        <h1 class="mb-5">Iniciar Sesión</h1>
        <form action="@Url.Action("Login","Login")" method="post">
            <input type="text" name="pUser" placeholder="Usuario" value='@(Model != null ? Model.User : "")' required="required" />
            <input type="password" name="pPass" placeholder="Contraseña" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Ingresar</button>
        </form>
    </div>
    <footer class="footer fixed-bottom">
        <p>&copy; @DateTime.Now.Year - Registro de la Propiedad Inmueble - Corrientes - Argentina.</p>
    </footer>
</section>